.mystyle1, .st2 {
  min-width: 300px;
  text-align: left;
  margin: 10px 20px;
}

.vl {
  border-left: 4px solid green;
  height: 350px;
  margin-top: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
